fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pydantic-settings
python-dotenv
python-slugify
python-jose
bcrypt
emails
jinja2
python-dateutil
gunicorn
aiofiles
